.tab-container {
    position: relative;
    margin-right: 50px;
    user-select: none;
    
}

.label-headline {
    color: black;
    font-style: normal;
    font-size: 14px;
}

.label-headline-closebutton {
    position: absolute;
    margin-left: 15px;
    top: 12px;
    color:  black;
    cursor: pointer;
}